<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<fuse-vertical-navigation appNoRightClick
    class="dark bg-gray-900 print:hidden"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.default"
    [opened]="!isScreenSmall">
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <div class="flex items-center w-full p-4 pl-6">
            <!-- Logo -->
            <div class="flex items-center justify-center">
                <img
                    class="w-40"
                    src="assets/images/logo/Logotipo-Blanco.png">
            </div>
            <!-- Components -->
            <div class="flex items-center ml-auto">
                <notifications></notifications>
                <user [showAvatar]="false"></user>
            </div>
        </div>
        <!-- User -->
        <div class="flex flex-col items-center w-full p-4">
            <div class="relative w-24 h-24">
                <img
                    class="w-full h-full rounded-full"
                    *ngIf="user.avatar"
                    [src]="user.avatar"
                    alt="User avatar">
                <mat-icon
                    class="icon-size-24"
                    *ngIf="!user.avatar"
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </div>
            <div class="flex flex-col items-center justify-center w-full mt-6">
                <div class="w-full whitespace-nowrap text-ellipsis overflow-hidden text-center leading-normal font-medium">
                    {{user.nombre}}
                </div>
                <div class="w-full mt-0.5 whitespace-nowrap text-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-secondary">
                    {{user.correo}}
                </div>
                <div class="w-full mt-0.5 whitespace-nowrap text-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-secondary pt-3">
                    {{user.rol.nombre}}
                </div>
            </div>
        </div>
    </ng-container>
    <!-- Navigation footer hook -->
    <ng-container fuseVerticalNavigationContentFooter>
        <div class="flex flex-0 items-center justify-center h-16 pr-6 pl-2 mt-2 mb-4" *ngIf="tipoRol == '3'">
            <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="openDialog()" >
                    <mat-icon svgIcon="heroicons_solid:download"></mat-icon>
                    <span>
                        Subir Archivo
                    </span> 
                </button>
        </div>
    </ng-container>
</fuse-vertical-navigation>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0" appNoRightClick>

    <!-- Header -->
    <div class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
        <!-- Navigation toggle button -->
        <button
            mat-icon-button
            (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
        </button>

        <!-- Navegacion Información General -->
        <button mat-button [matMenuTriggerFor]="infoGeneral">Información General</button>
        <mat-menu #infoGeneral="matMenu">
            <button mat-menu-item routerLink="/inicio">Objetivo general del proyecto</button>
            <button mat-menu-item routerLink="/alcance">Alcance del proyecto</button>
            <button mat-menu-item routerLink="/aliados">Aliados Estratégicos</button>
        </mat-menu>
        <!-- Navegacion Presentaciones -->
        <button mat-button routerLink="/presentaciones" >Presentaciones</button>
        <!-- Navegacion Información Estratégica -->
        <button mat-button [matMenuTriggerFor]="infoEstrategica">Información Estratégica</button>
        <mat-menu #infoEstrategica="matMenu">
            <button mat-menu-item>Información Global</button>
            <button mat-menu-item>Información Nacional</button>
            <button mat-menu-item>Información Regional</button>
        </mat-menu>
 

        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
            <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
            <search [appearance]="'bar'" [matTooltip]="'Buscar'"></search>
            <button 
                mat-icon-button >
                <mat-icon [svgIcon]="'feather:message-circle'" [matTooltip]="'Unirse al grupo de Whatsapp'"></mat-icon>
            </button>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div class="relative flex flex-0 items-center justify-start w-full h-28 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden dark">
        <span class="font-medium text-secondary pr-4">Proyecto auspiciado por el Gobierno del Estado de Guanajuato y secretaría de desarrollo Agroalimentario y Rural. </span>
        <img
            class="hidden dark:flex w-52 pr-4"
            src="assets/images/footer/Logo-Gob-GTO-Blanco.png"
            alt="Logo image">
        <img
            class="hidden dark:flex w-52 pr-4"
            src="assets/images/footer/Logo-Idea-Valle.png"
            alt="Logo image">
        <img
            class="hidden dark:flex w-36"
            src="assets/images/footer/LogotipoRohan-Blanco.png"
            alt="Logo image">
    </div>

</div>
 
