<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">Presentaciones</div>
                <div class="font-medium tracking-tight text-secondary">Lista de los Presentaciones subidas en Kirox
                </div>
            </div>
            <div class="flex items-center ml-6">

                <!-- Actions menu (visible on xs) -->
                <div class="sm:hidden">
                    <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                        <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item>Export</button>
                        <button mat-menu-item>Settings</button>
                    </mat-menu>
                </div>
            </div>
        </div>

        <div class="grid grid-cols-3 gap-8 w-full mt-8">
            <div class="col-span-2 flex flex-col flex-auto p-6 bg-card rounded-2xl shadow">
                <fuse-card style="border-left: 5px solid #e07e3c;" class="flex flex-col w-full mt-8" #expandableCard01="fuseCard">
                    <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                        <img class="w-10 h-10 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                            alt="Card cover image">
                        <div class="flex flex-col">
                            <span class="font-semibold leading-none">Titulo del Archivo</span>
                            <span class="text-sm text-secondary leading-none mt-1">Subido por <span
                                    class="text-sm font-medium">Nombre</span></span>
                        </div>

                        <div class="text-sm ml-auto -mr-4">Publicado 01/05/2022 16:45 p.m.</div>

                    </div>
                    <div class="relative mb-4">
                        <div class="flex rounded overflow-hidden border">
                            <div class="flex-0 w-40">
                                <img class="w-30 h-28 object-cover mt-8 pl-6 "
                                    src="assets/images/Icons documentos/pdf.svg" alt="Card cover image">
                            </div>
                            <div class="m-4">
                                <div class="text-lg font-medium">Titulo del Archivo</div>
                                <div class="text-secondary mt-1">
                                    Descripcion breve sobre la presentación
                                </div>
                                <div class="text-sm text-hint mt-2 pb-6">miproyecto.com</div>
                                <button class="hidden sm:inline-flex" mat-flat-button [color]="'primary'">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                                    <span class="ml-2">Leer la presentación</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                        <div class="hidden sm:flex flex-auto"></div>
                        <div class="flex items-center mt-4 sm:mt-0">
                            <button class="px-3 sm:-mr-4" mat-button
                                (click)="expandableCard01.expanded = !expandableCard01.expanded">
                                <span class="mr-1">3 Comentario(s)</span>
                                <mat-icon class="icon-size-5 transition-transform ease-in-out duration-150 rotate-0"
                                    [ngClass]="{'rotate-180': expandableCard01.expanded}"
                                    [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                            </button>
                        </div>
                    </div>

                    <ng-container fuseCardExpansion>
                        <hr class="border-b m-0">
                        <div class="flex flex-col mx-4 sm:mx-8 mt-6 mb-3">
                            <div class="flex items-start">
                                <img class="w-12 h-12 rounded-full mr-5" src="assets/images/avatars/avatar1.png"
                                    alt="Card cover image">
                                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                    <textarea matInput [placeholder]="'Escribe un comentario.'" [rows]="3"
                                        matTextareaAutosize></textarea>
                                </mat-form-field>
                            </div>
                            <div class="flex items-center mt-3 ml-auto -mr-3">
                                <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:annotation'"></mat-icon>
                                    <span class="ml-2">Comentar</span>
                                </button>
                            </div>
                        </div>
                        <hr class="border-b mx-4 sm:mx-8 my-0">
                        <div class="max-h-120 overflow-y-auto">
                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>Nombre del Usuario</b> <br> Me encanto esta presentación
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; 01/05/2022 16:45 p.m.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>Nombre del Usuario</b> <br> Me encanto esta presentación
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; 01/05/2022 16:45 p.m.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>Nombre del Usuario</b> <br> Me encanto esta presentación
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; 01/05/2022 16:45 p.m.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ng-container>
                </fuse-card>

                <fuse-card  style="border-left: 5px solid #3A3A59;" class="flex flex-col w-full mt-8" #expandableCard02="fuseCard">
                    <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                        <img class="w-10 h-10 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                            alt="Card cover image">
                        <div class="flex flex-col">
                            <span class="font-semibold leading-none">Titulo del Archivo</span>
                            <span class="text-sm text-secondary leading-none mt-1">Subido por <span
                                    class="text-sm font-medium">Nombre</span></span>
                        </div>

                        <div class="text-sm ml-auto -mr-4">Publicado 01/05/2022 16:45 p.m.</div>

                    </div>
                    <div class="relative mb-4">
                        <div class="flex rounded overflow-hidden border">
                            <div class="flex-0 w-40">
                                <img class="w-30 h-28 object-cover mt-8 pl-6 "
                                    src="assets/images/Icons documentos/doc.svg" alt="Card cover image">
                            </div>
                            <div class="m-4">
                                <div class="text-lg font-medium">Titulo del Archivo</div>
                                <div class="text-secondary mt-1">
                                    Descripcion breve sobre la presentación
                                </div>
                                <div class="text-sm text-hint mt-2 pb-6">miproyecto.com</div>
                                <button class="hidden sm:inline-flex" mat-flat-button [color]="'primary'">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                                    <span class="ml-2">Leer la presentación</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                        <div class="hidden sm:flex flex-auto"></div>
                        <div class="flex items-center mt-4 sm:mt-0">
                            <button class="px-3 sm:-mr-4" mat-button
                                (click)="expandableCard02.expanded = !expandableCard02.expanded">
                                <span class="mr-1">3 Comentario(s)</span>
                                <mat-icon class="icon-size-5 transition-transform ease-in-out duration-150 rotate-0"
                                    [ngClass]="{'rotate-180': expandableCard02.expanded}"
                                    [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                            </button>
                        </div>
                    </div>

                    <ng-container fuseCardExpansion>
                        <hr class="border-b m-0">
                        <div class="flex flex-col mx-4 sm:mx-8 mt-6 mb-3">
                            <div class="flex items-start">
                                <img class="w-12 h-12 rounded-full mr-5" src="assets/images/avatars/avatar1.png"
                                    alt="Card cover image">
                                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                    <textarea matInput [placeholder]="'Escribe un comentario.'" [rows]="3"
                                        matTextareaAutosize></textarea>
                                </mat-form-field>
                            </div>
                            <div class="flex items-center mt-3 ml-auto -mr-3">
                                <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:annotation'"></mat-icon>
                                    <span class="ml-2">Comentar</span>
                                </button>
                            </div>
                        </div>
                        <hr class="border-b mx-4 sm:mx-8 my-0">
                        <div class="max-h-120 overflow-y-auto">
                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>Nombre del Usuario</b> <br> Me encanto esta presentación
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; 01/05/2022 16:45 p.m.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>Nombre del Usuario</b> <br> Me encanto esta presentación
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; 01/05/2022 16:45 p.m.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>Nombre del Usuario</b> <br> Me encanto esta presentación
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; 01/05/2022 16:45 p.m.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ng-container>
                </fuse-card>

                <fuse-card style="border-left: 5px solid #e07e3c;" class="flex flex-col w-full mt-8" #expandableCard03="fuseCard">
                    <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                        <img class="w-10 h-10 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                            alt="Card cover image">
                        <div class="flex flex-col">
                            <span class="font-semibold leading-none">Titulo del Archivo</span>
                            <span class="text-sm text-secondary leading-none mt-1">Subido por <span
                                    class="text-sm font-medium">Nombre</span></span>
                        </div>

                        <div class="text-sm ml-auto -mr-4">Publicado 01/05/2022 16:45 p.m.</div>

                    </div>
                    <div class="relative mb-4">
                        <div class="flex rounded overflow-hidden border">
                            <div class="flex-0 w-40">
                                <img class="w-30 h-28 object-cover mt-8 pl-6 "
                                    src="assets/images/Icons documentos/xls.svg" alt="Card cover image">
                            </div>
                            <div class="m-4">
                                <div class="text-lg font-medium">Titulo del Archivo</div>
                                <div class="text-secondary mt-1">
                                    Descripcion breve sobre la presentación
                                </div>
                                <div class="text-sm text-hint mt-2 pb-6">miproyecto.com</div>
                                <button class="hidden sm:inline-flex" mat-flat-button [color]="'primary'">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                                    <span class="ml-2">Leer la presentación</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                        <div class="hidden sm:flex flex-auto"></div>
                        <div class="flex items-center mt-4 sm:mt-0">
                            <button class="px-3 sm:-mr-4" mat-button
                                (click)="expandableCard03.expanded = !expandableCard03.expanded">
                                <span class="mr-1">3 Comentario(s)</span>
                                <mat-icon class="icon-size-5 transition-transform ease-in-out duration-150 rotate-0"
                                    [ngClass]="{'rotate-180': expandableCard03.expanded}"
                                    [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                            </button>
                        </div>
                    </div>

                    <ng-container fuseCardExpansion>
                        <hr class="border-b m-0">
                        <div class="flex flex-col mx-4 sm:mx-8 mt-6 mb-3">
                            <div class="flex items-start">
                                <img class="w-12 h-12 rounded-full mr-5" src="assets/images/avatars/avatar1.png"
                                    alt="Card cover image">
                                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                    <textarea matInput [placeholder]="'Escribe un comentario.'" [rows]="3"
                                        matTextareaAutosize></textarea>
                                </mat-form-field>
                            </div>
                            <div class="flex items-center mt-3 ml-auto -mr-3">
                                <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:annotation'"></mat-icon>
                                    <span class="ml-2">Comentar</span>
                                </button>
                            </div>
                        </div>
                        <hr class="border-b mx-4 sm:mx-8 my-0">
                        <div class="max-h-120 overflow-y-auto">
                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>Nombre del Usuario</b> <br> Me encanto esta presentación
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; 01/05/2022 16:45 p.m.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>Nombre del Usuario</b> <br> Me encanto esta presentación
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; 01/05/2022 16:45 p.m.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>Nombre del Usuario</b> <br> Me encanto esta presentación
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; 01/05/2022 16:45 p.m.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ng-container>
                </fuse-card>

                <fuse-card style="border-left: 5px solid #3A3A59;" class="flex flex-col w-full mt-8" #expandableCard04="fuseCard">
                    <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                        <img class="w-10 h-10 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                            alt="Card cover image">
                        <div class="flex flex-col">
                            <span class="font-semibold leading-none">Titulo del Archivo</span>
                            <span class="text-sm text-secondary leading-none mt-1">Subido por <span
                                    class="text-sm font-medium">Nombre</span></span>
                        </div>

                        <div class="text-sm ml-auto -mr-4">Publicado 01/05/2022 16:45 p.m.</div>

                    </div>
                    <div class="relative mb-4">
                        <div class="flex rounded overflow-hidden border">
                            <div class="flex-0 w-40">
                                <img class="w-30 h-28 object-cover mt-8 pl-6 "
                                    src="assets/images/Icons documentos/ppt.png" alt="Card cover image">
                            </div>
                            <div class="m-4">
                                <div class="text-lg font-medium">Titulo del Archivo</div>
                                <div class="text-secondary mt-1">
                                    Descripcion breve sobre la presentación
                                </div>
                                <div class="text-sm text-hint mt-2 pb-6">miproyecto.com</div>
                                <button class="hidden sm:inline-flex" mat-flat-button [color]="'primary'">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                                    <span class="ml-2">Leer la presentación</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                        <div class="hidden sm:flex flex-auto"></div>
                        <div class="flex items-center mt-4 sm:mt-0">
                            <button class="px-3 sm:-mr-4" mat-button
                                (click)="expandableCard04.expanded = !expandableCard04.expanded">
                                <span class="mr-1">3 Comentario(s)</span>
                                <mat-icon class="icon-size-5 transition-transform ease-in-out duration-150 rotate-0"
                                    [ngClass]="{'rotate-180': expandableCard04.expanded}"
                                    [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                            </button>
                        </div>
                    </div>

                    <ng-container fuseCardExpansion>
                        <hr class="border-b m-0">
                        <div class="flex flex-col mx-4 sm:mx-8 mt-6 mb-3">
                            <div class="flex items-start">
                                <img class="w-12 h-12 rounded-full mr-5" src="assets/images/avatars/avatar1.png"
                                    alt="Card cover image">
                                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                    <textarea matInput [placeholder]="'Escribe un comentario.'" [rows]="3"
                                        matTextareaAutosize></textarea>
                                </mat-form-field>
                            </div>
                            <div class="flex items-center mt-3 ml-auto -mr-3">
                                <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:annotation'"></mat-icon>
                                    <span class="ml-2">Comentar</span>
                                </button>
                            </div>
                        </div>
                        <hr class="border-b mx-4 sm:mx-8 my-0">
                        <div class="max-h-120 overflow-y-auto">
                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>Nombre del Usuario</b> <br> Me encanto esta presentación
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; 01/05/2022 16:45 p.m.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>Nombre del Usuario</b> <br> Me encanto esta presentación
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; 01/05/2022 16:45 p.m.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>Nombre del Usuario</b> <br> Me encanto esta presentación
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; 01/05/2022 16:45 p.m.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ng-container>
                </fuse-card>

                <fuse-card style="border-left: 5px solid #e07e3c;" class="flex flex-col w-full mt-8" #expandableCard05="fuseCard">
                    <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                        <img class="w-10 h-10 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                            alt="Card cover image">
                        <div class="flex flex-col">
                            <span class="font-semibold leading-none">Titulo del Archivo</span>
                            <span class="text-sm text-secondary leading-none mt-1">Subido por <span
                                    class="text-sm font-medium">Nombre</span></span>
                        </div>

                        <div class="text-sm ml-auto -mr-4">Publicado 01/05/2022 16:45 p.m.</div>

                    </div>
                    <div class="relative mb-4">
                        <div class="flex rounded overflow-hidden border">
                            <div class="flex-0 w-40">
                                <img class="w-30 h-28 object-cover mt-8 pl-6 "
                                    src="assets/images/Icons documentos/doc.svg" alt="Card cover image">
                            </div>
                            <div class="m-4">
                                <div class="text-lg font-medium">Titulo del Archivo</div>
                                <div class="text-secondary mt-1">
                                    Descripcion breve sobre la presentación
                                </div>
                                <div class="text-sm text-hint mt-2 pb-6">miproyecto.com</div>
                                <button class="hidden sm:inline-flex" mat-flat-button [color]="'primary'">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                                    <span class="ml-2">Leer la presentación</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                        <div class="hidden sm:flex flex-auto"></div>
                        <div class="flex items-center mt-4 sm:mt-0">
                            <button class="px-3 sm:-mr-4" mat-button
                                (click)="expandableCard05.expanded = !expandableCard05.expanded">
                                <span class="mr-1">3 Comentario(s)</span>
                                <mat-icon class="icon-size-5 transition-transform ease-in-out duration-150 rotate-0"
                                    [ngClass]="{'rotate-180': expandableCard05.expanded}"
                                    [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                            </button>
                        </div>
                    </div>

                    <ng-container fuseCardExpansion>
                        <hr class="border-b m-0">
                        <div class="flex flex-col mx-4 sm:mx-8 mt-6 mb-3">
                            <div class="flex items-start">
                                <img class="w-12 h-12 rounded-full mr-5" src="assets/images/avatars/avatar1.png"
                                    alt="Card cover image">
                                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                    <textarea matInput [placeholder]="'Escribe un comentario.'" [rows]="3"
                                        matTextareaAutosize></textarea>
                                </mat-form-field>
                            </div>
                            <div class="flex items-center mt-3 ml-auto -mr-3">
                                <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:annotation'"></mat-icon>
                                    <span class="ml-2">Comentar</span>
                                </button>
                            </div>
                        </div>
                        <hr class="border-b mx-4 sm:mx-8 my-0">
                        <div class="max-h-120 overflow-y-auto">
                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>Nombre del Usuario</b> <br> Me encanto esta presentación
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; 01/05/2022 16:45 p.m.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>Nombre del Usuario</b> <br> Me encanto esta presentación
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; 01/05/2022 16:45 p.m.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>Nombre del Usuario</b> <br> Me encanto esta presentación
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; 01/05/2022 16:45 p.m.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ng-container>
                </fuse-card>


                
            </div>
            <div class=" ">
                <div class="mt-4 text-2xl font-semibold leading-tight">Calendario de actividades</div>


                <mat-card class="demo-inline-calendar-card pt-6 mt-4">
                    <mat-calendar [(selected)]="selected"></mat-calendar>
                </mat-card>

                <div class="pt-6 grid justify-items-center">
                    <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                        <span class="ml-2">Información para taller</span>
                    </button>
                </div>


            </div>

        </div>


    </div>
</div>