<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0"> 
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Objetivo general del proyecto
                </h2>
            </div>
        </div>
    </div>


    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="max-w-max prose prose-sm">
        
            <h2 class="text-center">Visión Estratégica del Valle de la Mentefactura en el Sector Agroalimentario del Estado de Guanajuato</h2>
            <br>
            <h2>OBJETIVO GENERAL DEL PROYECTO:</h2>
            <p class="text-justify">
                Determinar el enfoque estratégico-tecnológico para la visión de los agronegocios del Estado de Guanajuato y plan maestro del proyecto Bio-Agroparque Xonotli 4.0.
            </p>
 
            <h2>OBJETIVOS ESPECIFICOS</h2>
            <br>
            <h2>El proyecto considerará los siguientes dos objetivos:</h2>
            <h2>Primer objetivo</h2>
            <p class="text-justify">Definir la visión global para el desarrollo de los agronegocios de Valle Bajío centrándose en el papel que juega la tecnología como arnés de solución a retos y riesgos previsibles de la década siguiente. El estudio deberá considerar los efectos del cambio climático: la escasez del agua y escasez alimentaria futura así como cambios en los hábitos del consumidor con mayor conciencia ecológica. Esto obliga a replantear si con apoyo de la tecnología el futuro de la producción de alimentos sustentable y ecológica es la solución para los próximos años en la agro-industria de Guanajuato con el objetivo superior de generar prosperidad inclusiva.</p>
          
            <h2>Segundo objetivo</h2>
            <p class="text-justify">Definir el rol estratégico que debe asumir el predio Xonotli propiedad del Gobierno del Estado, como componente clave para materializar la visión global para el desarrollo de los agro-negocios en Valle Bajío. Esto deberá permitirnos desarrollar el proyecto del Bio-Agroparque Xonotli 4.0, como un exitoso modelo de negocio generador de los ingresos para la realización de la infraestructura básica detonadora de la Mentefactura; generador de investigación, capacitación tecnológica y asesoramiento en implementación.</p>
           
        </div>
 

    </div>

</div>
