<div class="flex flex-col flex-auto w-full">

    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">

        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <div class="text-3xl font-semibold tracking-tight leading-8">Presentaciones</div>
                <div class="font-medium tracking-tight text-secondary">Lista de los Presentaciones subidas en Kirox
                </div>
            </div>
            <div class="flex items-center ml-6">

                <!-- Actions menu (visible on xs) -->
                <div class="sm:hidden">
                    <button [matMenuTriggerFor]="actionsMenu" mat-icon-button>
                        <mat-icon [svgIcon]="'heroicons_outline:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item>Export</button>
                        <button mat-menu-item>Settings</button>
                    </mat-menu>
                </div>
            </div>
        </div>
        
        <!--<div class="grid grid-cols-3 gap-8 w-full mt-8">
            <form>
                <p>
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Buscar presentación: </mat-label>
                      <input matInput placeholder="Busca por título del documento">
                      <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                  </p>
                <div class="flex">
                    <div class="aling-button-search">
                        <button
                                class="fuse-mat-button-large w-full mt-6"
                                mat-flat-button
                                [color]="'primary'" >
                                <mat-icon svgIcon="heroicons_solid:search"></mat-icon>
                                <span>
                                    Buscar
                                </span> 
                            </button>
                    </div>
                </div>
                <div>
                    
                </div>
            </form>
        </div>-->
                
         
        
                <div class="grid grid-cols-3 gap-8 w-full mt-8">
                    <div class="flex flex-0 items-center justify-center h-16 pr-6 pl-2 mt-2 mb-4" *ngIf="user.rol.id == 3">
                        <button
                                class="fuse-mat-button-large w-full mt-6"
                                mat-flat-button
                                [color]="'primary'"
                                (click)="openDialogSubirArchivo()" >
                                <mat-icon svgIcon="heroicons_solid:download"></mat-icon>
                                <span>
                                    Subir Archivo
                                </span> 
                            </button>
                    </div>
                </div>
       
         
        

        <div class="grid grid-cols-3 gap-8 w-full mt-8">
            <div class="col-span-2 flex flex-col flex-auto p-6 bg-card rounded-2xl shadow">
                <fuse-card style="border-left: 5px solid #e07e3c;" class="flex flex-col w-full mt-8" #expandableCard01="fuseCard" *ngFor="let presentacion of presentaciones">
                    <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                        <img class="w-10 h-10 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                            alt="Card cover image">
                        <div class="flex flex-col">
                            <span class="font-semibold leading-none">{{presentacion.tituloPresentacion}}</span>
                            <span class="text-sm text-secondary leading-none mt-1">Subido por <span
                                    class="text-sm font-medium">{{presentacion.usuarioCreacion}}</span></span>
                        </div>

                        <div class="text-sm ml-auto -mr-4">Publicado {{ presentacion.fechaCreacion | date: 'yyyy-MM-dd h:mm a'}}</div>

                    </div>
                    <div class="relative mb-4">
                        <div class="flex rounded overflow-hidden border">
                            <div class="flex-0 w-40">
                                    <img
                                *ngIf="presentacion.formato == 'PDF'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/pdf.svg"
                            />
                            <img
                                *ngIf="presentacion.formato == 'DOC'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/doc.svg"
                            />
                            <img
                                *ngIf="presentacion.formato == 'DOCX'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/doc.svg"
                            />
                            <img
                                *ngIf="presentacion.formato == 'JPG'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/jpg.svg"
                            />
                            <img
                                *ngIf="presentacion.formato == 'PNG'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/png.svg"
                            />
                            <img
                                *ngIf="presentacion.formato == 'TXT'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/txt.svg"
                            />
                            <img
                                *ngIf="presentacion.formato == 'XLS'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/xls.svg"
                            />
                            <img
                                *ngIf="presentacion.formato == 'XML'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/xml.svg"
                            />
                            <img
                                *ngIf="presentacion.formato == 'ZIP'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/zip.svg"
                            />
                            </div>
                            <div class="m-4">
                                <div class="text-lg font-medium">{{presentacion.nombreDocumento}}</div>
                                <div class="text-secondary mt-1">
                                    {{presentacion.descripcionPresentacion}}
                                </div>
                                <div class="text-sm text-hint mt-2 pb-6" *ngIf="presentacion.taller == 1">Taller 1</div>
                                <div class="text-sm text-hint mt-2 pb-6" *ngIf="presentacion.taller == 2">Taller 2</div>
                                <button class="hidden sm:inline-flex" mat-flat-button [color]="'primary'" (click)="openDialog(presentacion.url,presentacion.tituloPresentacion)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                                    <span class="ml-2">Leer presentación</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                        <div class="hidden sm:flex flex-auto"></div>
                        <div class="flex items-center mt-4 sm:mt-0">
                            <button class="px-3 sm:-mr-4" mat-button
                                (click)="expandableCard01.expanded = !expandableCard01.expanded">
                                <span class="mr-1">{{presentacion.totalComentarios}} Comentario(s)</span>
                                <mat-icon class="icon-size-5 transition-transform ease-in-out duration-150 rotate-0"
                                    [ngClass]="{'rotate-180': expandableCard01.expanded}"
                                    [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                            </button>
                        </div>
                    </div>

                    <ng-container fuseCardExpansion>
                        <hr class="border-b m-0">
                        <div class="flex flex-col mx-4 sm:mx-8 mt-6 mb-3" *ngIf="user.rol.id == 1 || user.rol.id == 3">
                            <div class="flex items-start">
                                <img class="w-12 h-12 rounded-full mr-5" src="assets/images/avatars/avatar1.png"
                                    alt="Card cover image">
                                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                    <textarea matInput [placeholder]="'Escribe un comentario.'" [rows]="3"
                                        matTextareaAutosize   id="txtarea_{{presentacion.idDocumento}}"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="flex items-center mt-3 ml-auto -mr-3">
                                <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'" (click)="comentar(presentacion.idDocumento)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:annotation'"></mat-icon>
                                    <span class="ml-2">Comentar</span>
                                </button>
                            </div>
                        </div>
                        <hr class="border-b mx-4 sm:mx-8 my-0">
                        <div class="max-h-120 overflow-y-auto">
                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6" *ngFor="let comentario of presentacion.comentarios">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>{{comentario.usuario}}</b> <br> {{comentario.comentario}}
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; {{ comentario.fechaPublicacion | date: 'yyyy-MM-dd h:mm a'}}</span>
                                            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="openDialogDeleteComentario(comentario.idComentario)"  *ngIf="user.rol.id == 3">
                                                <mat-icon>delete_forever</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--<div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>Omar Fernandez</b> <br> Me gustaría saber más sobre los 3 procesos, por favor podrían contáctame, podría aportar al proceso.
                                            ¡Saludos!
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; 01/05/2022 16:45 p.m.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>Irving Rivera</b> <br> ¡El mejor equipo!
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; 01/05/2022 16:45 p.m.</span>
                                        </div>
                                    </div>
                                </div>

                            </div>-->
                        </div>
                    </ng-container>
                </fuse-card>
            </div>
            <div class=" " >
                <div class="mt-5 text-2xl font-semibold leading-tight">Listado de actividades</div>

                <mat-accordion >
                   
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false" style="background-color: #ffe3b6;">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <b>Sesión #1</b>
                        </mat-panel-title>
                        <mat-panel-description>
                          <p>13/08/2022</p> 
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                        <p>Inteligencia Colectiva: Valoración de tendencias para el
                            diseño de la visión futura inclusiva del Proyecto Xonotli 4.0</p>
                            <br>
                            <p>
                                <mat-icon>date_range</mat-icon> 
                            </p>
                      <p><b>Septiembre 13 9:00 AM - 11:00 AM</b></p>
                     
                    </mat-expansion-panel>

                    <mat-expansion-panel (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false" style="background-color: #ffe3b6;">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            <b>Sesión #2</b>
                        </mat-panel-title>
                        <mat-panel-description>
                            <p>13/10/2022</p> 
                        </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>Valoración de escenarios.</p>
                            <br>
                            <p>
                                <mat-icon>date_range</mat-icon> 
                            </p>
                        <p><b>Octubre 13</b></p>

                        </mat-expansion-panel>
                  </mat-accordion>

                <!--<mat-card class="demo-inline-calendar-card pt-6 mt-4">
                    <mat-calendar [(selected)]="selected"></mat-calendar>
                </mat-card>-->

                <div class="pt-6 grid justify-items-center" *ngIf="user.rol.id == 1 || user.rol.id == 3">
                    <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'" routerLink="/taller1">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                        <span class="ml-2">Información para taller #1</span>
                    </button>
                </div>

                <div class="pt-6 grid justify-items-center" *ngIf="user.rol.id == 1 || user.rol.id == 3">
                    <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'" routerLink="/taller2">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                        <span class="ml-2">Información para taller #2</span>
                    </button>
                </div>

                <!--<div class="pt-6 grid justify-items-center" *ngIf="user.rol.id == 1 || user.rol.id == 3">
                    <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'" >
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:information-circle'"></mat-icon>
                        <span class="ml-2">Información para taller #2</span>
                    </button>
                </div>-->


            </div>

        </div>


    </div>
</div>


