<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0"> 
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Aliados Estratégicos
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 w-full min-w-0 ng-star-inserted">

            <!-- Card #1 -->
            <fuse-card class="flex flex-col max-w-80 w-full filter-article">
                <img
                    class="object-cover"
                    src="assets/images/Logos Aliados KIROX/cimmyt.png"
                    alt="CIMMYT">
                <div class="m-8">
                    <div class="text-2xl font-semibold leading-tight">CIMMYT</div>
                    <div class="mt-4">El Centro Internacional de Mejoramiento de Maíz y Trigo es una organización internacional de investigación científica en el sector agrícola, especializada en el desarrollo de variedades mejoradas de maíz y de trigo. El CIMMYT es uno de los 15 centros especializados en investigación agrícola del CGIAR. </div>
                    <div class="mt-3 -mx-3">
                        <button
                            class="px-3"
                            mat-button
                            [color]="'primary'"
                            onclick=" window.open('https://www.cimmyt.org/es/','_blank')">
                            Visitar sitio
                        </button>
                    </div>
                </div>
            </fuse-card>

            <!-- Card #1 -->
            <fuse-card class="flex flex-col max-w-80 w-full filter-article">
                <img
                    class="object-cover p-2"
                    src="assets/images/Logos Aliados KIROX/Logo-Centro-Fox-OK-1.jpg"
                    alt="CIMMYT">
                <div class="m-8">
                    <div class="text-2xl font-semibold leading-tight">Centro Fox</div>
                    <div class="mt-4">El Centro de Estudios, Biblioteca y Museo Vicente Fox es un centro de historia presidencial fundado por el ex presidente de México Vicente Fox en San Cristóbal, cerca de su rancho en Guanajuato, México. El Centro está financiado por la Asociación Civil del Centro Fox.</div>
                    <div class="mt-3 -mx-3">
                        <button
                            class="px-3"
                            mat-button
                            [color]="'primary'"
                            onclick=" window.open('https://www.centrofox.org.mx/','_blank')">
                            Visitar sitio
                        </button>
                    </div>
                </div>
            </fuse-card>

            <!-- Card #1 -->
            <fuse-card class="flex flex-col max-w-80 w-full filter-article">
                <img
                    class="object-cover p-4"
                    src="assets/images/Logos Aliados KIROX/Nestle-Logo.png"
                    alt="CIMMYT">
                <div class="m-8">
                    <div class="text-2xl font-semibold leading-tight">Nestlé</div>
                    <div class="mt-4">Nestlé S.A. es una empresa multinacional suiza de alimentos y bebidas con sede en Vevey, Vaud, Suiza. 
                        Ha sido la empresa de alimentos más grande del mundo, medida por los ingresos y otras métricas, para 2014, 2015 y 2016.
                    </div>
                    <div class="mt-3 -mx-3">
                        <button
                            class="px-3"
                            mat-button
                            [color]="'primary'"
                            onclick=" window.open('https://www.nestle.com.mx/','_blank')">
                            Visitar sitio
                        </button>
                    </div>
                </div>
            </fuse-card>
            
            
        </div>

    </div>

</div>
