<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0"> 
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Información Taller #1
                </h2>
            </div>
        </div>
    </div>

    <img
    class="object-cover"
    src="assets/images/flyer/taller1.jfif"
    alt="taller1" class="center" style="width: 700px;">
        <div class="text-2xl font-semibold leading-tight">Presentación relacionadas:</div>
        <div class="col-span-2 flex flex-col flex-auto p-6 bg-card rounded-2xl shadow">
            <fuse-card style="border-left: 5px solid #e07e3c;" class="flex flex-col w-full mt-8" #expandableCard01="fuseCard" *ngFor="let presentacion of presentaciones" >
                <div *ngIf="presentacion.taller == 1">
                    <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                        <img class="w-10 h-10 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                            alt="Card cover image">
                        <div class="flex flex-col">
                            <span class="font-semibold leading-none">{{presentacion.tituloPresentacion}}</span>
                            <span class="text-sm text-secondary leading-none mt-1">Subido por <span
                                    class="text-sm font-medium">{{presentacion.usuarioCreacion}}</span></span>
                        </div>

                        <div class="text-sm ml-auto -mr-4">Publicado {{ presentacion.fechaCreacion | date: 'yyyy-MM-dd h:mm a'}}</div>

                    </div>
                    <div class="relative mb-4">
                        <div class="flex rounded overflow-hidden border">
                            <div class="flex-0 w-40">
                                    <img
                                *ngIf="presentacion.formato == 'PDF'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/pdf.svg"
                            />
                            <img
                                *ngIf="presentacion.formato == 'DOC'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/doc.svg"
                            />
                            <img
                                *ngIf="presentacion.formato == 'DOCX'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/doc.svg"
                            />
                            <img
                                *ngIf="presentacion.formato == 'JPG'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/jpg.svg"
                            />
                            <img
                                *ngIf="presentacion.formato == 'PNG'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/png.svg"
                            />
                            <img
                                *ngIf="presentacion.formato == 'TXT'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/txt.svg"
                            />
                            <img
                                *ngIf="presentacion.formato == 'XLS'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/xls.svg"
                            />
                            <img
                                *ngIf="presentacion.formato == 'XML'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/xml.svg"
                            />
                            <img
                                *ngIf="presentacion.formato == 'ZIP'"
                                style="width: 100px"
                                src="../../../../assets/images/Icons documentos/zip.svg"
                            />
                            </div>
                            <div class="m-4">
                                <div class="text-lg font-medium">{{presentacion.nombreDocumento}}</div>
                                <div class="text-secondary mt-1">
                                    {{presentacion.descripcionPresentacion}}
                                </div>
                                <div class="text-sm text-hint mt-2 pb-6" *ngIf="presentacion.taller == 1">Taller 1</div>
                                <div class="text-sm text-hint mt-2 pb-6" *ngIf="presentacion.taller == 2">Taller 2</div>
                                <button class="hidden sm:inline-flex" mat-flat-button [color]="'primary'" (click)="openDialog(presentacion.url,presentacion.tituloPresentacion)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                                    <span class="ml-2">Leer presentación</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                        <div class="hidden sm:flex flex-auto"></div>
                        <div class="flex items-center mt-4 sm:mt-0">
                            <button class="px-3 sm:-mr-4" mat-button
                                (click)="expandableCard01.expanded = !expandableCard01.expanded">
                                <span class="mr-1">{{presentacion.totalComentarios}} Comentario(s)</span>
                                <mat-icon class="icon-size-5 transition-transform ease-in-out duration-150 rotate-0"
                                    [ngClass]="{'rotate-180': expandableCard01.expanded}"
                                    [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                            </button>
                        </div>
                    </div>

                    <ng-container fuseCardExpansion>
                        <hr class="border-b m-0">
                        <div class="flex flex-col mx-4 sm:mx-8 mt-6 mb-3" *ngIf="user.rol.id == 1 || user.rol.id == 3 ">
                            <div class="flex items-start">
                                <img class="w-12 h-12 rounded-full mr-5" src="assets/images/avatars/avatar1.png"
                                    alt="Card cover image">
                                <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                    <textarea matInput [placeholder]="'Escribe un comentario.'" [rows]="3"
                                        matTextareaAutosize   id="txtarea_{{presentacion.idDocumento}}"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="flex items-center mt-3 ml-auto -mr-3">
                                <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'" (click)="comentar(presentacion.idDocumento)">
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:annotation'"></mat-icon>
                                    <span class="ml-2">Comentar</span>
                                </button>
                            </div>
                        </div>
                        <hr class="border-b mx-4 sm:mx-8 my-0">
                        <div class="max-h-120 overflow-y-auto">
                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6" *ngFor="let comentario of presentacion.comentarios">
                                <div class="flex items-start">
                                    <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/avatar1.png"
                                        alt="Card cover image">
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>{{comentario.usuario}}</b> <br> {{comentario.comentario}}
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span>Publicado &bull; {{ comentario.fechaPublicacion | date: 'yyyy-MM-dd h:mm a'}}</span>
                                            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="openDialogDeleteComentario(comentario.idComentario)" *ngIf="user.rol.id == 3 ">
                                                <mat-icon>delete_forever</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ng-container>
                </div>
                
            </fuse-card>
        </div>
    

</div>
